RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^template text.php [QSA]
RewriteRule ^save-template savetemplate.php [QSA]
RewriteRule ^create makeme.php [QSA]
RewriteRule ^done maker.php [QSA]
RewriteRule ^/$ index.php [L]