<!-- #region content -->
<div class="main-area" lang="it-it">
    <!-- #region stylesheets -->
    <style>
        {{less|raw}}

        .cub-1 .face {
            background-image: url({{img_url|raw}});
        }
    </style>
    <!-- #endregion -->
    <header>
        {% if options.logo %}
        <img src="{{options.logo}}" class="logo" />
        {% endif %}
        {% if title and author %}
        <h1 id="painting-full-title">"{{title}}" {{options.di}} {{author}}</h1>
        {% elseif title %}
        <h1 id="painting-full-title">{{title}}</h1>
        {% else %}
        {% endif %}
        {% if options.titolone %}
        <h2 id="painting-falsi-autore">{{options.titolone}}</h2>
        {% endif %}
        {% if options.sottotitolo %}
        <p id="painting-dipinti-olio">{{options.sottotitolo}}</p>
        {% endif %}
        {% if options.sottotitolo2 %}
        <p>{{options.sottotitolo2}}</p>
        {% endif %}
    </header>
    {% if translate %}
    <nav class="painting-translator-cont">
    </nav>
    {% endif %}
    <div class="main-painting">
        <div class="breaker"></div>
        <article class="painting-view">
            <!-- #region painting magnifier -->
            <div class="painting">
                <a class="magnifier-thumb-wrapper" id="thumb-container" target="_blank" href="#"></a>
                <div class="magnifier-preview heading" id="preview"></div>
            </div>
            <!-- #endregion -->
        </article>
        <aside class="painting-info">
            {% if author %}
            <p>
                <span id="painting-info-author">{{options.autore}}</span>:<br />
                <span class="paint-attribute">{{author}}</span>
            </p>
            {% endif %}
            {% if title %}
            <p>
                <span id="painting-info-title">{{options.titolo}}</span>:<br />
                <span class="paint-attribute" id="painting-info-title-value">{{title}}</span>
            </p>
            {% endif %}
            {% if year %}
            <p>
                <span id="painting-info-year">{{options.year_text}}</span>:<br />
                <span class="paint-attribute">{{year}}</span>
            </p>
            {% endif %}
            {% if code %}
            <p>
                <span id="painting-info-code">{{options.code_text}}</span>:<br />
                <span class="paint-attribute">{{code}}</span>
            </p>
            {% endif %}
            {% if width and height %}
            <p>
                <span id="painting-info-size">{{options.dimensioni}}</span>:<br />
                <span class="paint-attribute">{{height}} &times; {{width}} &times; {{depth}}cm</span>
            </p>
            {% endif %}
        </aside>
        <div class="breaker"></div>
    </div>
    <article class="no-painting">
        {% if options.telaio %}
        <h2>{{options.telaio}}</h2>
        {% endif %}
        {% if options.telaio_text %}
        <div>
            {% for p in options.telaio_text|split('\n\n') %}
            <p>{{p|replace({'[b]':'<strong>', '[/b]':'</strong>'})|raw|nl2br}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% if show_3d %}
        <!-- #region 3D -->
        <div id="tridiv">
            <div class="scene" style="">
                <div class="shape cuboid-1 cub-1">
                    <div class="face ft">
                        <div class="photon-shader"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader"></div>
                    </div>
                    <div class="face tp">

                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- #endregion -->
        {% if show_3d %}
        <div class="breaker"></div>
        {% endif %}
        {% if options.garanzia or options.garanzia_text %}
        <h2 id="painting-info-warrant">{{options.garanzia}}</h2>
        <div id="painting-info-warrant-value">
            {% for p in options.garanzia_text|split('\n\n') %}
            <p>{{p|replace({'[b]':'<strong>', '[/b]':'</strong>'})|raw|nl2br}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% if options.spedizioni or options.spedizioni_text %}
        <h2 id="painting-info-shipping">{{options.spedizioni}}</h2>
        <img class="sda-logo" src="https://dry-journey-4380.herokuapp.com/sda.png" />
        <div id="painting-info-shipping-value">
            {% for p in options.spedizioni_text|split('\n\n') %}
            <p>{{p|replace({'[b]':'<strong>', '[/b]':'</strong>'})|raw|nl2br}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% if options.pagamenti or options.pagamenti_text %}
        <h2 id="painting-info-payment">{{options.pagamenti}}</h2>
        <div id="painting-info-payment-value">
            {% for p in options.pagamenti_text|split('\n\n') %}
            <p>{{p|replace({'[b]':'<strong>', '[/b]':'</strong>'})|raw|nl2br}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% if options.rimborso or options.rimborso_text %}
        <h2 id="painting-info-reimburs">{{options.rimborso}}</h2>
        <div id="painting-info-reimburs-value">
            {% for p in options.rimborso_text|split('\n\n') %}
            <p>{{p|replace({'[b]':'<strong>', '[/b]':'</strong>'})|raw|nl2br}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% if options.contatti or options.contatti_text %}
        <h2 id="painting-info-contacts">{{options.contatti}}</h2>
        <div id="painting-info-contatcts-value">
            {% for p in options.contatti_text|split('\n\n') %}
            <p>{{p|replace({'[b]':'<strong>', '[/b]':'</strong>'})|raw|nl2br}}</p>
            {% endfor %}
        </div>
        {% endif %}
    </article>
    <!-- #endregion -->
    <!-- #region outscript -->
    <script type="text/javascript">
        {{ EventScript|raw }}
        {{ MagnifierScript|raw }}
        {{ PaintingScript|raw }}
        var imgUrl = {{img_url|raw}};
        var thumb = null;
        {% if img_thumb %}
        var thumb = {{img_thumb|raw}};
        var resize = false;
        {% else %}
        var thumb = null;
        var resize = true;
        {% endif %}
        {{ MainScript|raw }}
    </script>
    <!-- #endregion -->
</div>